@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

 body {
    font-family: Figtree;
    background-color: hsl(47, 88%, 63%);
 }

 .blog_container {
    background-color: hsl(0, 0%, 100%);
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 6%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    border-radius: 18px;
    outline: 2px solid black;
    box-shadow: 8px 8px 0px #000000;
 }

 .blog_container .blog_img img {
    border-radius: 15px;
    width: 350px;
    margin-bottom: 3%;
 }

 .blog_container .blog_texts a {
    text-decoration: none;
    color: #000000;
    background-color: hsl(47, 88%, 63%);
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 10%;
    border-radius: 3px;
    font-weight: 700;
 }

 .blog_container .blog_texts small {
   font-weight: 500;
   font-size: 15px;
 }

 .blog_container .blog_texts h3 {
   font-size: 29px;
   margin-top: 11px;
 }

 .blog_container .blog_texts p {
   margin-top: -20px;
 }

 .blog_profile {
   display: flex;
   gap: 9px;
 }

 .blog_profile .blog_profile_img img {
   width: 40px;
   margin-top: 13px;
 }

 .blog_profile .blog_profile_text h6 {
   font-size: 17px;
   margin-top: 21px;
 }


 @media only screen and (max-width: 320px) {
  .blog_container {
    margin-right: 0%;
    margin-left: 1%;
    margin-bottom: 2%;
    margin-top: 0%;
  }

   .blog_container .blog_img img {
    border-radius: 15px;
    width: 250px;
    margin-bottom: 3%;
   }

}